*.gitattributes text eol=lf
*.gitignore text eol=lf

.editorconfig text eol=lf
.eslintignore

LICENSE text eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.js text eol=lf
*.json text eol=lf
*.lock text eol=lf
*.md text eol=lf
*.sln text eol=lf
*.ts text eol=lf
*.yml text eol=lf
