[*.cs]
end_of_line = lf
insert_final_newline = true
indent_style = tab
trim_trailing_whitespace = true

dotnet_diagnostic.CS8602.severity = error

# IDE0003: Remove qualification
# Use `this` for members:
dotnet_style_qualification_for_event = true:error
dotnet_style_qualification_for_field = true:error
dotnet_style_qualification_for_method = true:error
dotnet_style_qualification_for_property = true:error
dotnet_diagnostic.CS1076.severity = error

# Remove unread private members
dotnet_diagnostic.IDE0052.severity = error

# Remove unused parameter (IDE0060)
dotnet_code_quality_unused_parameters = all
dotnet_diagnostic.IDE0060.severity = error

# Multiple blank lines in a row.
dotnet_diagnostic.SA1507.severity = error

# Braces for multi line statements must not share line.
dotnet_diagnostic.SA1500.severity = error

# Add trailing comma
dotnet_diagnostic.SA1413.severity = error
